.home-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}

.home-page-wrapper h1 {
  font-size: 36px;
}

.input-label {
  color: rgba(0, 0, 0, 0.66);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}