.home-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}

.home-page-wrapper h1 {
  font-size: 36px;
}

.result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
  padding-top: 10px;
  overflow: auto;
  height: 500px;
}

.empty-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.input-label {
  color: rgba(0, 0, 0, 0.66);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}