body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.search-result-card {
  width: 80%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trip-details,
.emission-level {
  flex: 1;
  padding: 10px;
}

.trip-details h2,
.emission-level h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.trip-details p,
.emission-level p {
  margin: 0;
}

.emission-level {
  background-color: #e0f2f1;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
}

.emission-level strong {
  color: #009688;
}