#root {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

* {
  box-sizing: border-box;
}

body {
  background: #abbaab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}